.home{
    position: relative;
    background-image: url('../assets/images/midjourney4.png');
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 80px;
}

.home::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 30%,rgba(255,255,255,0) 60%);
    z-index: 1;
}

.content img{
    width: 2.3rem;
    height: 2.3rem;
}

.subtitle h1{
    font-size: 3.2rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: var(--heading-color);
}

.content h1{
    margin-top: 0.5rem;
}

.content h1 .highlight{
    color: var(--secondary-color);
    font-style: italic;
    font-family: 'Blured';
    font-size: 5rem;
}

.content p{
    font-size: 1rem;
    color: var(--heading-color);
    line-height: 2rem;
}

.content p span{
    color: var(--primary-color);
    font-style: bold;
    font-weight: 700;
    font-size: 1.2rem;
}

.content{
    position: relative;
    z-index: 1;
    padding-top: 3.5rem;
    margin-left: 10px;
}

.section_search{
    margin-top: -50px;
    margin-bottom: -20px;
}

.services_subtitle{
    font-family: 'Blured';
    font-size: 50px;
    color: #fa7436;
}

.services_title{
    font-size: 2.3rem;
    font-weight: 500;
}
.services_title .highlight{
    color: var(--secondary-color);
}

.featured_tour-title{
    font-size: 2.3rem;
    font-weight: 500;
}

.experience_content h2{
    font-size: 2.5rem;
    margin-top: 1rem;
    font-weight: 500;
}

.experience_content p{
    font-size: 1.1rem;
    color: var(--text-color);
    margin-top: 1rem;
}

.counter_wrapper{
    margin-top: 2.5rem;
}

.counter_box span{
    width: 70px;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 10px 5px 10px 5px;
}

.counter_box h6{
    font-size: 1.1rem;
    margin-top: 0.7rem;
    color: var(--text-color);
}

.experience_img{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.experience_img::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    background: linear-gradient(to right, rgba(255,255,255,1), rgba(200,255,255,0));
}

.testimonial_title{
    font-size: 2.3rem;
    margin-top: 1rem;
}

.tweet-container {
    background-color: #f5f8fa;
    padding: 12px;
    border-radius: 12px;
}
  
.tweet {
    margin-bottom: 12px;
}
  
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
  
.author-info {
    margin-left: 12px;
}
  
.author-name {
    margin-bottom: 4px;
    font-weight: bold;
}
  
.author-role {
    margin: 0;
    font-size: 12px;
    color: #999;
}
  