.search-bar-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
  
.search_bar {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 4px 10px 0px;
    width: max-content;
    margin-top: 50px;
}  

.search_bar h6{
    padding-top: 1rem;
    padding-left: 0.3rem;
}

.form_group{
    display: flex;
    align-items: center;
}

.form_group span{
    font-size: 1.8rem;
    color: #fa7436;
    margin-right: 0.5rem;
}

.form_group input{
    border: none;
    font-size: 0.9rem;
    color: var(--heading-color);
    font-weight: 500;
    padding: 0.3rem;
}

.form_group input:focus{
    outline: none;
}

.form_group h6{
    margin-bottom: 10;
}

.form_group-fast{
    border-right: 2px solid #ddd;
}

.search_icon i{
    font-size: 1.6rem;
    padding: 0.5rem;
    background: var(--secondary-color);
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search_icon i:hover{
    background-color: #fa7426;
}

@media screen and (max-width: 992px){
    .search_bar{
        width: 100%;
        border-radius: 2rem;
    }

    .search_bar form{
        flex-wrap: wrap;
    }

    .search_bar form .form_group{
        width: 48%;
    }
}

@media screen and (max-width: 576px){
    .search_bar from .form_group{
        width: 100%;
    }
    
    .form_group input{
        font-size: 0.7rem;
    }

    .form_group span i{
        font-size: 1.1rem;
    }

    .form_group h6{
        font-size: 1rem;
    }
}