@import url("https://fonts.googlepais.com/css2?family=Island+Moments&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #fa7436;
  --secondary-color: #faa935;
  --heading-color: #0b2727;
  --text-color: #6e7074;
  --background-color: #cae5fa;
  --background-color-2: #355070;
  --box-color: #f7f8fc;
  --font-name: "Montserrat", sans-serif;
  --subtitle-font-name: "Poppins", italic;
}

@font-face {
  font-family: "Blured";
  src: local("bluredstroke"),
    url("./assets/fonts/bluredstroke.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-name);
}

section {
  padding: 50px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

a { 
  text-decoration: none;
  color: unset;
}
ul {
  list-style: none;
}

.primary_btn {
  background: var(--secondary-color) !important;
  border: none !important;
  border-radius: 50px !important;
  padding: 0.4rem 1.5rem !important;
}

.primary_btn a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #ffffff;
}

.primary_btn a:hover {
color: inherit;
}

.secondary_btn {
  background: transparent !important;
  color: #0b2727 !important;
  border: none !important;
  font-weight: 500 !important;
}

.secondary_btn a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--heading-color);
}

.secondary_btn a:hover {
  color: inherit;
}

.section_subtitle {
  background: var(--secondary-color);
  font-family: var(--subtitle-font-name);
  width: max-content;
  padding: 0px 0.5rem;
  padding-right: 1rem;

  border-radius: 50px;
  font-weight: 500;
  font-size: 1.7rem;
  color: var(--heading-color);
  font-style: italic;
}

@media screen and (max-width: 992px){
  .primary_btn a, .secondary_btn a{
    font-size: 0.9rem;
  }

  .primary_btn, .secondary_btn, .btn-dark{
    padding: 0.2rem 1.1rem !important;
  }

  section{
    padding: 40px 0;
  }
}