.header{
    width: 100%;
    height: 80px;
    line-height: 80px;
}

.Logo img{
    width: 40%;
    margin-left: 50px;
}

.menu {
    margin-bottom: 0;
    margin-right: 30px;
}

.nav_item a{
    text-decoration: none;
    color: var(--heading-color);
    font-size: 1.1rem;
    font-weight: 500;
}

.nav_item a:hover{
    color: inherit;
}

.nav_item a.active_link{
    color: var(--secondary-color);
}

.mobile_menu{
    font-size: 1.3rem;
    color: var(--heading-color);
    display: none;
    padding-right: 20px;
}

.sticky_header{
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: white;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 8px -3px #ddd;
    z-index: 999;
}

.user_show i{
    color: var(--primary-color);
    font-size: 2rem;
}

.username_show h5{
    color: var(--heading-color);
    font-size: 2rem;
    padding: 1rem;
}